:root{
    --purple: #b91450;
}

/* generics */
body{
    background-color: var(--purple);
}

input{
    border: 1px solid var(--purple);
    border-radius: 5px;
}

/* utils */
[class*= col]{
    border: 2px solid green
}

/* panel */
.panel{
    color: var(--purple);
    background-color: #fff;
    min-height: 250px;
    border-radius: 20px;
}